<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>titulo</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/ingreso/">ingrese de vehiculo</a></li>
            <li><a href="/salida/">salida de vehiculo</a></li>
            <li><a href="/list/">listado de vehiculos</a></li>
            <li><a href="/tarifa/">tarifa</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
    
</body>
</html>