<div>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="patente">Patente</label>
            <input type="text" name="patente">
        </div>
        <!-- 
        <div>
            <label for="tarifa">tarifa por minuto</label>
            <input type="number" name="tarifa">
        </div>
        <div>
            <label for="estado">Estado</label>
            <select name="estado" id="estado">
                {% for estado in estados %}
                    <option value="{{estado.id}}">{{estado.nombre}}</option>
                {% endfor %}
            </select>
        </div> -->
        <input type="submit" value="registrar">
    </form>
</div>